.git
.gitignore
.idea
.vscode

.docker-config
.dotnet-home

Frontend/node_modules
Frontend/dist

Backend/**/node_modules
Backend/**/bin
Backend/**/obj
Backend/**/target
Backend/**/.m2repo
Backend/**/.nuget
Backend/**/.dotnet
Backend/**/.dotnet-home
Backend/**/temp_build
Backend/**/temp_pdf_build
Backend/**/temp_verify_build

**/.env
**/.env.*

*.log
